
body {
    background-color: chocolate;
}
.carousel .carousel-item {
    max-height: 400px;
}

.carousel {
    padding: 0.5rem;
    max-height: 400px;
}

section {
    margin: 1rem auto;
    padding: 0.5rem;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
}

.site-header i {
    font-size: 64px;
    margin-right: 8px;
}

.about img {
    min-height: 300px;
}

#about h5, #events h5 {
    margin: 1.5rem auto;
    text-align: center;
}

#contact form {
    padding: 0.75rem 1rem;
    background-color: #FFF;
}

#contact form .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form input[type="submit"] {
    margin: 1rem auto;
}

footer {
    font-size: 16px;
    margin: 1.5rem auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #E0E0E0;
}

footer h4 {
    margin: 1.5rem auto;
    text-align: center;
}
